<p-tabView>
  <p-tabPanel header="Listado de trabajadores"> </p-tabPanel>
  <p-tabPanel header="Crear usuario trabajador">
    <ng-template pTemplate="content">
      <div class="create-worker-container">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input
              type="text"
              id="nombres"
              name="nombres"
              [(ngModel)]="nombres"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input
              type="text"
              id="apellidos"
              name="apellidos"
              [(ngModel)]="apellidos"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input
              type="email"
              id="correo"
              name="correo"
              [(ngModel)]="correo"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input
              type="tel"
              id="telefono"
              name="telefono"
              [(ngModel)]="telefono"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="cedula">Cédula:</label>
            <input
              type="text"
              id="cedula"
              name="cedula"
              [(ngModel)]="cedula"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">
            Crear Trabajador
          </button>
        </form>
      </div>
    </ng-template>
  </p-tabPanel>
</p-tabView>
