.main-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  height: calc(99.55vh - 60px);
}

.filters-container {
  background-color: #d3d3d3;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.filters-container h2 {
  font-size: 20px;
  margin-top: 10px;
}

.filters-container .p-checkbox,
.filters-container .p-field-radiobutton,
.filters-container .price-inputs {
  margin-bottom: 15px;
}

.filters-container .price-inputs input {
  width: 70px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filters-container .p-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filters-container .p-checkbox-label {
  margin-left: 10px;
  font-size: 16px;
}

.filters-container .p-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filters-container .p-checkbox:last-of-type {
  margin-bottom: 15px;
}

.p-field-radiobutton {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.price-inputs {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.price-inputs input {
  width: 70px;
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.separator {
  margin: 0 10px;
  font-size: 18px;
  color: #333;
}

.arrow-button {
  background-color: #6c757d;
  border: none;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.arrow-button span {
  font-size: 16px;
}

.products-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  gap: 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.search-wrapper,
.sort-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-wrapper input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #00324E;
  border-radius: 0px;
  box-sizing: border-box;
}

.search-button {
  padding: 8px 16px;
  background-color: #d3d3d3;
  color: black;
  border: 1px solid #00324E;
  border-radius: 0px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #bcbcbc;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.sort-wrapper p-dropdown {
  flex: 1;
  width: auto;
}

.clear-button {
  padding: 8px 16px;
  background-color: #d3d3d3;
  color: black;
  border: 1px solid #00324E;
  border-radius: 0px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #bcbcbc;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 240px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: left;
  padding: 15px;
  transition: box-shadow 0.3s ease; /* Para suavizar la transición */

  &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
      cursor: pointer;
  }
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-category-add-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic; 
  margin-top: 10px;
}


.add-to-cart-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.add-to-cart-button i {
  //margin-left: 5px;
  padding: 5px;
}

.add-to-cart-button:hover {
  background-color: #555;
}


.product-detail {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: normal;
  /* El título no estará en negrita */
}

.product-price {
  color: #333;
  font-weight: bold;
  /* El precio estará en negrita */
  margin-bottom: 5px;
}

.pagination-container {
  /*margin-top: 5px; Reducido el margen superior para acercar al contenedor de resultados 
    display: flex;*/
  justify-content: center;
  align-items: center;
}