<img src="../../../assets/login/login_background.webp" alt="" class="imagen-login">
@if (loading) {
    <app-loading></app-loading>
}
<div class="container-page">
    <div class="login-card container">
        <img src="../../../assets/icon_store.png" alt="" class="mb-3 px-7 img-logo w-50">
        <div class="container-input">
            <h1 class="text-center h3 mb-5">Cambio de contraseña</h1>
            <form #form="ngForm">
                @if (success){
                <div class="alert alert-success" role="alert">
                    Contraseña cambiada con exito. Redifirigiendo a la pagina de login...
                </div>
                }
                @if (error) {
                <div class="alert alert-danger" role="alert">
                    {{textError}}
                </div>
                }
                <div class="mb-3">
                    <label for="password1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password1" name="password1" required
                        [(ngModel)]="password1" #password1Input="ngModel" minlength="8">
                    @if (errorPassword1) {
                    <div class="text-danger">
                        {{textErrorPassword1}}
                    </div>
                    }
                </div>

                <div class="mb-3">
                    <label for="password2" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="password2" name="password2" required
                        [(ngModel)]="password2" #password2Input="ngModel" minlength="8">
                    @if (errorPassword2) {
                    <div class="text-danger">
                        {{textErrorPassword2}}
                    </div>
                    }
                </div>

                <div class="mb-3 text-center">
                    <button class="btn btn-login text-center" (click)="submitForm()">Enviar</button>
                </div>
            </form>
        </div>
    </div>

</div>