<div class="main-container">
  <div class="cart-container">
    <h2>Carrito</h2>
    <p>Revisa tus artículos y actualiza las cantidades según sea necesario.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.product_detail }}</td>
          <td>{{ item.price | currency }}</td>
          <td>
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity(item)">-</button>
              <input type="number" class="form-control text-center" [(ngModel)]="item.cantidad" [min]="1" (change)="updateItemQuantity(item)">
              <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity(item)">+</button>
            </div>
          </td>
          <td>{{ item.price * item.cantidad | currency }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeItem(item)">
              <i class="pi pi-times"></i>
            </button>
          </td>
        </tr>                   
      </tbody>
    </table>

    <div class="order-summary">
      <h3>Resumen del pedido</h3>
      <p>Monto total a pagar.</p>
      <div class="total-amount">{{ getTotal() | currency }}</div>
      <div class="buttons">
        <button class="btn btn-outline-primary" (click)="continueShopping()">Continúa agregando</button>
        <button class="btn btn-primary" (click)="saveOrder()">Guardar Pedido</button>
      </div>
    </div>
  </div>
</div>
