<nav class="navbar">
    <div class="navbar-left">
        <a [routerLink]="['/inicio']" >Inicio</a>
        <a [routerLink]="['/productos']">Productos</a>
        <a [routerLink]="['/servicios']">Servicios</a>
        <a [routerLink]="['/contactanos']">Contáctanos</a>
    </div>
    <div class="navbar-logo">
        <img src="assets/icon_store.png" alt="Logo">
    </div>
    <div class="navbar-right">
        <a [routerLink]="['/carrito']">Carrito</a>
        <a [routerLink]="['/login']">Regístrate/Inicia Sesion</a>
    </div>
</nav>
