
  .contact-outer-container {
    padding: 10px;
    border: 2px solid #007BFF; /* Color del marco */
    border-radius: 12px;
    background-color: #f0f8ff; /* Fondo claro para resaltar el marco */
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  .custom-form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .custom-label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  .custom-input, .custom-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.3s;
  }
  
  .custom-input:focus, .custom-textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .custom-textarea {
    resize: vertical;
    height: 120px;
  }
  
  .custom-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
  }
  
  .custom-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

