<div class="main-container">
    <div class="multimedia-container">
        <div class="foto-principal-container">
            <img *ngIf="images.length > 0" [src]="images[0]" alt="Foto Principal" class="foto-principal">
        </div>

        <div class="resto-fotos-container" *ngIf="images.length > 1">
            <div class="fotos-content">
                <img *ngFor="let image of images" [src]="image" alt="Foto Secundaria" class="foto-secundaria"
                    (mouseenter)="cambiarFotoPrincipal(image)">
            </div>
        </div>

        <div class="videos-container" *ngIf="videos.length > 0">
            <label (mouseenter)="handleMouseEnter()" class="video-label">Ver videos</label>
            <!-- Aquí puedes agregar la lógica para mostrar los videos -->
        </div>
    </div>

    <div class="informacion-producto-container">
        <div class="detalles-producto-container">
            <h2>{{ product?.detail }} - {{ product?.presentation }}</h2>
            
            <div class="rating-container">
                <p-rating [ngModel]="product?.average_rating || 0" [readonly]="true" [cancel]="false" stars="5"></p-rating>
                <span class="average-rating">{{ (product?.average_rating || 0) | number:'1.1-1' }}</span>
            </div>
            
            <p *ngIf="product!.rating_count && product!.rating_count > 0; else noRating">
                {{ product!.rating_count }} calificacion(es)
            </p>
            
            <ng-template #noRating>
                <p><em>No hay calificaciones</em></p>
            </ng-template>
        
            <p-divider></p-divider>
        
            <!-- Price Subtitle -->
            <h3 class="price-subtitle">PRECIO: ${{ product?.price }}</h3>
        
            <!-- Cart Controls with Message -->
            <div class="cart-controls">
                <span class="cart-message">Artículos en carrito:</span>
                <button (click)="decreaseQuantity()">-</button>
                <input type="number" [(ngModel)]="cartQuantity" [readonly]="true" class="quantity-spinner">
                <button (click)="increaseQuantity()">+</button>
            </div>
        
            <!-- Customized Panel Below the Spinner -->
            <p-panel [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span class="font-bold">Sobre este artículo</span>
                    </div>
                </ng-template>
                <p class="m-0">
                    Marca: {{ product?.brand }} <br>
                    Categoria: {{ product?.category }} <br>
                    Descripcion: {{ product?.detail }}
                </p>
            </p-panel>
        </div>
              
        <div class="comentarios-producto-container">
            <!-- Aquí irán los comentarios del producto -->
        </div>
    </div>
</div>
<p-toast></p-toast>