<div class="servicios-container">
    <h2 class="title">Servicios</h2>
  
    <div class="servicio servicio-bancario">
      <div class="text-container">
        <h3>Servicios Bancarios</h3>
        <p-accordion>
          <p-accordionTab header="Banco Pichincha">
            <p>Depósito, retiro, etc.</p>
          </p-accordionTab>
          <p-accordionTab header="Banco Guayaquil">
            <p>Depósito, retiro, etc.</p>
          </p-accordionTab>
          <p-accordionTab header="Banco Bolivariano">
            <p>Depósito, retiro, etc.</p>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="image-container">
        <img src="assets/banking-image.png" alt="Servicios Bancarios" class="servicio-imagen" />
      </div>
    </div>
  
    <div class="servicio western-union">
      <div class="image-container">
        <img src="assets/western-union.png" alt="Western Union" class="servicio-imagen" />
      </div>
      <div class="text-container">
        <h3>Western Union</h3>
        <p-accordion>
          <p-accordionTab header="Envio de dinero">
            <p>Depósito, retiro, etc.</p>
          </p-accordionTab>
          <p-accordionTab header="Pago de Facturas">
            <p>Depósito, retiro, etc.</p>
          </p-accordionTab>
          <p-accordionTab header="Transferencias">
            <p>Depósito, retiro, etc.</p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  