.card {
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-body {
    background-color: #1d1d1d;
    color: white;
    
    
  }
  
  .card-img-top {
    width: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
  