@import '../node_modules/primeicons/primeicons.css';
:root{
    --primary-pink-store: #e5b8cb;
    --secondary-pink-store: #f3e9f0;
    --tertiary-pink-store: #f7f7f7;
    --quaternary-pink-store: #e5b8cb;
    --primary-pink-dark-store: #b28f9d;

}

