<div class="sidebar">
    <div class="sidebar-logo">
      <a [routerLink]="['/admin']">
        <img src="assets/icon_store.png" alt="Logo">
      </a>
    </div>
    <div class="sidebar-user">
      <a>Hola, {{ userName }}</a>
    </div>
    <nav class="sidebar-menu">
      <ul>
        <li><a [routerLink]="['/admin/control-compras']">Control de compras</a></li>
        <li><a [routerLink]="['/admin/control-ventas']">Control de ventas</a></li>
        <li><a [routerLink]="['/admin/inventario']">Inventario</a></li>
        <li><a [routerLink]="['/admin/trabajadores']">Trabajadores</a></li>
        <li><a [routerLink]="['/admin/proveedores']">Proveedores</a></li>
        <li><a [routerLink]="['/admin/configuracion']">Configuración</a></li>
      </ul>
    </nav>
    <div class="sidebar-logout">
      <button (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  